@charset "UTF-8";



header {
  background-color: #ffcccc
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

#main {
  width: 70%;
  background-color: #ccffcc;
}

#menu {
  width: 30%;
  background-color: #ccccff;
}

footer {
  padding: 0;
  margin: 0;
  background-color: #ffccff;
}